<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados do Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content colo="light">
  <ion-card *ngIf="filme">
    <ion-card-header>
      <img *ngIf="filme.poster_path"
      alt="Silhouette of mountains"
      src="https://www.themoviedb.org/t/p/w500/{{filme.poster_path}}"
    />
    <ion-icon *ngIf="!filme.poster_path" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>{{filme.title}} -
        <ion-chip >{{filme.vote_average}}</ion-chip>
      </h1>
     <p>{{filme.release_date | date:'shortDate'}}</p>
    </ion-card-content>
    <ion-item>
      <ion-badge color="light" *ngFor="let generoId of filme.genre_ids">{{generos[generoId]}}
      </ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
