ion-item
{
  //  --inner-padding-start: 0px;
  //  --inner-padding-end:0px
  --inner-padding-start:0px;
  --inner-padding-end:0px;

  ion-thumbnail
   {
       height: 100%;
      //margin-inline-end: 10px;
      ion-icon
      {
        font-size:48px;
        color:#dcdcdc;
      }
   }
   h1
   {
        font-weight: bold;
        font-size: 0.8erm;
   }
   p
   {

        font-size: 0.8erm;
   }
   p+p
   {

        color: #ccc;
   }
   ion-chip
   {

    padding-inline: 0px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    justify-content: center;
    border-width: 3px;
   }
   ion-badge
   {
      font-weight: 300;
      font-size: 0.6erm;
      margin-right: 2px;
   }
}
